<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Overview</a></li>
		        	<li><a href="/market & background">Market & Background</a></li>
	        		<li><a href="/founding team">Founding Team</a></li>
	        		<li><a href="/business model & strategy">Business Model & Strategy</a></li>
				<li><a href="/competition">Competition</a></li>
				<li><a href="/financial metrics & financing">Financial Metrics & Financing</a></li>
				<li><a href="/due diligence summary">Due Diligence Summary</a></li>
				<li><a href="/Deal Positives">Deal Positives</a></li>
				<li><a href="/Deal Concerns">Deal Concerns</a></li>
				<li><a href="/exit scenarios">Exit Scenarios</a></li>
				<li><a href="/glimmer of greatness & final thoughts">Glimmer of Greatness & Final Thoughts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bmcclain143@gmail.com">email</a></li>
	        		<li><a href="https://github.com/bmcclain143">github.com/bmcclain143</a></li>
				</ul>
			</footer>
		</body>
	</html>
