<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Overview</a></li>
		        	<li><a href="/market and background">Market and Background</a></li>
	        		<li><a href="/founding team">Founding Team</a></li>
	        		<li><a href="/business model and strategy">Business Model and Strategy</a></li>
				<li><a href="/financials">Financials</a></li>
				<li><a href="/competition">Competition</a></li>
				<li><a href="/Deal Positives">Deal Positives</a></li>
				<li><a href="/Deal Concerns">Deal Concerns</a></li>
				<li><a href="/glimmer of greatness and recommendation">Glimmer of Greatness and Recommendation</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bmcclain143@gmail.com">email</a></li>
	        		<li><a href="https://github.com/bmcclain143">github.com/bmcclain143</a></li>
				</ul>
			</footer>
		</body>
	</html>
